## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 

#mainsail
[include mainsail_user.cfg]

#EBB36 Alias Pins
[include lib/EBBCAN_alias.cfg]

#bed mesh
[include lib/bed_mesh.cfg]

#macros
[include lib/macroroni.cfg]

#stealthburner led
[include lib/stealthburner_led_effects_barf.cfg]

#steppers
# [include lib/XY_steppers.cfg]
[include lib/XY_steppers_tmc5160_sensorless.cfg]
[include lib/Z_steppers.cfg]

#Orbiter Filament Sensor
# [include lib/OrbiterSensor.cfg] #Turn off filament_load-unload.cfg if use.

#Filament load/ unload macro
[include lib/filament_load-unload.cfg]  #turn off OrbiterSensors.cfg if use

#probe accuracy
[include test_probe_accuracy.cfg]

#test speed
[include lib/testspeed.cfg]

#KAMP
# [include KAMP/*cfg]
[include lib/KAMP_override.cfg]

#TMC Autotune
[include lib/tmc_autotune.cfg]

#adxl
# [include lib/adxlpico.cfg]
# [include lib/adxlFly.cfg]


#####################################################################
#   MCU paths 
#####################################################################
[mcu]
canbus_uuid: 1ffd19ad9e38

[mcu EBBCan]
canbus_uuid: a608ba328561

# [mcu rpi]
# serial: /tmp/klipper_host_mcu


#####################################################################
#   Thermistor types  
#####################################################################
[temperature_sensor OCTUPUS]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[temperature_sensor Raspberry_PI]
sensor_type: temperature_host

[temperature_sensor CHAMBER]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4


#####################################################################
#   PRINTER and FEATURES
#####################################################################

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 8000             #Max 4000
max_z_velocity: 35          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 500
square_corner_velocity: 8.0

[pause_resume]
recover_velocity: 75

[display_status]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[gcode_arcs]
resolution: 0.1

[respond]
#default_type: echo

[exclude_object]

[idle_timeout]
# timeout: 7200
timeout: 18000

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: EBBCan:EXT_STEP
dir_pin: !EBBCan:EXT_DIR
enable_pin: !EBBCan:EXT_EN
#------------------------------------------------
# orbiter LDO-36STH20-1004AHG(XH)
# rotation_distance: 4.637    # LDO Orbiter default
# rotation_distance: 4.69624    # LDO Orbiter work 
# gear_ratio: 7.5:1           # Orbiter
#------------------------------------------------
#vz-hextrudort moons-cse14hra1l410a
rotation_distance: 21.3705  # Moons vz-hextrudort
gear_ratio: 50:10         # Moons vz-hextrudort
#------------------------------------------------

microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_cross_section: 2
max_extrude_only_distance: 500
max_extrude_only_velocity: 120 # <- for orbiter motor LDO-36STH20-1004AHG(XH)
# max_extrude_only_accel:    800 # <- for orbiter motor LDO-36STH20-1004AHG(XH)

##----------
# Heater
#-----------
heater_pin: EBBCan:HE0
sensor_type: ATC Semitec 104NT-4-R025H42G  #Rapido
# sensor_type: Generic 3950 #Bambu
sensor_pin: EBBCan:PA3
min_temp: 0
max_temp: 280
max_power: 1.0
min_extrude_temp: 180


[tmc2209 extruder]
interpolate: False
run_current: 0.6
# run_current: 0.85 #Orbiter recommend
uart_pin: EBBCan:EXT_UART
stealthchop_threshold: 0
#advance stepper tuning
sense_resistor: 0.110 # Default for 2209, it depends of the driver



#SECTION - INPUT SHAPER
[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 60.2
shaper_type_y = mzv
shaper_freq_y = 44.6


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: -100
max_temp: 120


#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin: EBBCan:PA0
kick_start_time: 0.25
cycle_time: 0.01
off_below: 0.10



##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: EBBCan:PA1
shutdown_speed: 0.0
cycle_time: 0.001
max_power: 1
fan_speed: 1.0
kick_start_time: 0.2
heater: extruder
heater_temp: 50.0


##  Controller fan
[controller_fan octopus_fan]
pin: PE5
kick_start_time: 0.0
# cycle_time: 0.01
max_power: 0.5
idle_timeout:5
heater: heater_bed



##  Psu fan
[controller_fan psu_fan]
pin: PD12
kick_start_time: 0.2
# cycle_time: 0.01
max_power: 0.4
idle_timeout:10
heater: heater_bed

##  Exhaust fan - FAN3
#[heater_fan exhaust_fan]
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[safe_z_home]
home_xy_position: 150,150
speed: 200
z_hop:0

[quad_gantry_level]
gantry_corners:
  -60,-10
  360,370
#  Probe points
points:
  25,25
  25,275
  275,275
  275,25
speed: 500
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
# retry_tolerance: 0.01
max_adjust: 10


#####################################################################
#   Probe Voron Tap
#####################################################################
[probe]
pin: !EBBCan:PB6 
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 10
samples: 3
sample_retract_dist: 3
lift_speed: 40
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5
activate_gcode:
    {% set PROBE_TEMP = 155 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}
    {% set ACTUAL_HEATER_FAN = printer.fan.speed %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        STATUS_COOLING
        M106 S255
        M109 S{ PROBE_TEMP }
        M106 S{ ACTUAL_HEATER_FAN }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            STATUS_COOLING
            M106 S255
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
            M106 S{ ACTUAL_HEATER_FAN }
            
        {% endif %}
    {% endif %}

    # {% if TARGET_TEMP %}
    #   SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TARGET_TEMP}
    # {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.850
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.600
#*# pid_ki = 0.987
#*# pid_kd = 358.139
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.147
#*# pid_ki = 2.843
#*# pid_kd = 69.665
#*#
#*# [bed_mesh ABS]
#*# version = 1
#*# points =
#*# 	0.166250, 0.146250, 0.118750, 0.136250, 0.098750, 0.108750, 0.106250, 0.113750, 0.117500, 0.135000, 0.148750, 0.173750, 0.167500, 0.125000, 0.112500
#*# 	0.132500, 0.107500, 0.085000, 0.058750, 0.061250, 0.063750, 0.071250, 0.055000, 0.086250, 0.098750, 0.105000, 0.113750, 0.112500, 0.118750, 0.095000
#*# 	0.115000, 0.090000, 0.090000, 0.048750, 0.036250, 0.032500, 0.058750, 0.050000, 0.087500, 0.098750, 0.102500, 0.098750, 0.101250, 0.102500, 0.095000
#*# 	0.111250, 0.082500, 0.046250, 0.047500, 0.013750, 0.042500, 0.030000, 0.047500, 0.083750, 0.077500, 0.093750, 0.101250, 0.097500, 0.090000, 0.086250
#*# 	0.096250, 0.063750, 0.032500, 0.028750, 0.010000, 0.025000, 0.043750, 0.037500, 0.048750, 0.065000, 0.083750, 0.088750, 0.092500, 0.093750, 0.098750
#*# 	0.082500, 0.030000, 0.017500, 0.010000, 0.025000, 0.013750, 0.017500, 0.027500, 0.043750, 0.053750, 0.068750, 0.096250, 0.112500, 0.078750, 0.070000
#*# 	0.086250, 0.037500, 0.020000, -0.005000, 0.001250, -0.001250, 0.013750, 0.017500, 0.037500, 0.046250, 0.071250, 0.056250, 0.075000, 0.061250, 0.050000
#*# 	0.051250, 0.011250, -0.017500, -0.033750, -0.015000, -0.020000, -0.007500, 0.003750, 0.012500, 0.038750, 0.046250, 0.046250, 0.078750, 0.056250, 0.062500
#*# 	0.065000, 0.027500, -0.005000, -0.007500, -0.018750, -0.011250, 0.001250, 0.015000, 0.027500, 0.041250, 0.043750, 0.066250, 0.060000, 0.061250, 0.057500
#*# 	0.072500, 0.020000, 0.000000, 0.006250, -0.005000, -0.003750, -0.003750, 0.018750, 0.016250, 0.043750, 0.052500, 0.052500, 0.063750, 0.056250, 0.052500
#*# 	0.065000, 0.037500, 0.028750, 0.008750, -0.002500, 0.008750, 0.027500, 0.022500, 0.023750, 0.053750, 0.082500, 0.066250, 0.068750, 0.073750, 0.061250
#*# 	0.078750, 0.053750, 0.051250, 0.035000, 0.012500, 0.015000, 0.038750, 0.041250, 0.060000, 0.088750, 0.077500, 0.081250, 0.103750, 0.087500, 0.102500
#*# 	0.117500, 0.091250, 0.053750, 0.046250, 0.037500, 0.042500, 0.047500, 0.055000, 0.061250, 0.081250, 0.095000, 0.106250, 0.105000, 0.108750, 0.087500
#*# 	0.122500, 0.103750, 0.068750, 0.060000, 0.046250, 0.051250, 0.091250, 0.090000, 0.103750, 0.102500, 0.121250, 0.131250, 0.178750, 0.106250, 0.093750
#*# 	0.166250, 0.136250, 0.107500, 0.111250, 0.107500, 0.102500, 0.108750, 0.116250, 0.116250, 0.128750, 0.136250, 0.155000, 0.171250, 0.131250, 0.111250
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 290.0
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.023750, 0.045000, 0.012500, 0.033750, 0.042500
#*# 	  0.062500, 0.047500, 0.008750, 0.048750, 0.048750
#*# 	  0.052500, 0.040000, 0.012500, 0.012500, 0.040000
#*# 	  0.001250, 0.012500, 0.011250, 0.020000, 0.018750
#*# 	  -0.006250, 0.013750, -0.003750, -0.007500, 0.023750
#*# 	  0.022500, 0.016250, 0.021250, -0.001250, 0.038750
#*# x_count = 5
#*# y_count = 6
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 57.97
#*# max_x = 241.65
#*# min_y = 35.68
#*# max_y = 264.88
